.container 
{
    position: fixed;
    display: flex;
    height: 100vh; 
}
body
{
    overflow: hidden;
}
.top
{
    flex-direction: column;
    display: flex;
    flex: 1; 
    background: #d9a7c7;  
    margin-bottom:'40px';
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    
}
.bottom
{
    display:flex;
    flex: 1; 
    background-image: url("../assets/password.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .top
{
    text-align: center;
    border: 1px solid #ccc;
}*/