
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);}
  }

  @media screen and (max-width:769px)
  {
    #navbar
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #dde0e3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active
    {
      right: 0px;
    }
  #navbar li
  {
      margin-button: 25px;
  }
  #mobile
  {
      display: block;

      #mobile i
      {
          font-size: 24px;
          cursor: pointer;
      }
    }
  }
  @media screen and (min-width:500px)
  {
    .container{
      padding: 3rem;
      border: 1px solid white;
      border-radius: 5px;
      margin: 0.5rem;
      width: 30%;
    }
  }
  